body {
    background-color: rgba(181, 201, 226, 0.884);
  }
  h1 {
    color: rgb(19, 161, 180);
  }
  p {
    color: rgba(48, 41, 41, 0.678);
  }
  h2 {
    color: rgb(19, 161, 180);
  }
  
div {
    display: block;
  }
