body {
    font-family: sans-serif;
    background-color: rgb(205, 241, 255);
    margin: auto;
  }
  h1, h2, h3 {
    margin: 0.35em;
  }

  h1 {
    font-size: 40px;
    color: rgb(12, 128, 143);
  }

  h2 {
    font-size: 28px;
    color: rgba(4, 161, 182, 0.808);
  }

  h3 {
    font-size: 20px;
    color: rgba(4, 161, 182, 0.808);
  }

  p {
    margin: 0 0 1.15em;
    color: rgba(0, 0, 0, 0.678);
  }

  p + h2 {
    margin-top: 1.5em;
  }

  header, nav, footer, main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }

  header {
    background-color: aqua;
    color: white;
  }  

  body > footer {
    border-top: 2px solid rgb(115, 255, 0);
  } 
